search.search
  ul.search__nav
    li: a.btn.btn--green.btn--small(href=`/get-chinese-food`) Chinese Food
    li: a.btn.btn--green.btn--small(href=`/get-vegan`) Vegan
    li: a.btn.btn--green.btn--small(href=`/get-brunch`) Brunch
    li: a.btn.btn--green.btn--small(href=`/get-top-5-cheap`) Top 5 cheap
    li: a.btn.btn--green.btn--small(href=`/get-recommendation`) Recommendation